@model odonto.Models.CitaViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Modificar Cita</h2>

<div id="mensaje"></div>
@using (Html.BeginForm("Edit", "CITA", null, FormMethod.Post, new { @class = "well", @style = "margin-top: 40px;", @id = "modificar-cita" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Datos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.ID_DOCTOR, "Doctor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_DOCTOR", null, htmlAttributes: new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.ID_DOCTOR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_PACIENTE, "Paciente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_PACIENTE", null, htmlAttributes: new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.ID_PACIENTE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4" style="padding-right:42px;">
                <div class="input-group date-time" style="width: 280px;">
                    @Html.EditorFor(model => model.FECHA, new { htmlAttributes = new { @class = "form-control", @placeholder = "dd/mm/aaaa" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ESTATUS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ESTATUS)
                    @Html.ValidationMessageFor(model => model.ESTATUS, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
