@model odonto.Models.DOCTOR

@{
    ViewBag.Title = "Details";
}

<h2>Consultar Doctor</h2>

<div class="well container">
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEGUNDO_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEGUNDO_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEGUNDO_APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEGUNDO_APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOGIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_MODIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROL.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROL.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" }) 
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</p>
