@model odonto.Models.PacienteViewModel

@if (Model.Enfermedades == null || Model.Enfermedades.Count == 0)
{
    using (Html.BeginForm("EnfermedadPaciente", "PACIENTE", null, FormMethod.Post, new { @class = "well", @style = "margin-top: 40px;", @id = "enfermedad-paciente" }))
    {
        <fieldset>
            <legend>Enfermedades</legend>
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <input type="hidden" value="" id="ID" name="ID" />
                                @Html.DropDownListFor(m => m.tipo, Model.tipoEnfermedad, null, new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.enfermedad, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.enfermedad, Model.listaEnfermedad, "Seleccion", new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.enfermedad, "", new { @class = "text-danger" })
                                <a id="enfermedad-auxiliar" style="cursor:pointer;"><i class="glyphicon glyphicon-edit"></i></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Crear" class="btn btn-default" />
                                <a class="btn btn-success" id="cargar-enfermedad"><i class="glyphicon glyphicon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 table-responsive">
                        <table class="table" id="enfermedadPaciente">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </fieldset>
    }

}
else
{
    using (Html.BeginForm("UpdateEnfermedad", "PACIENTE", null, FormMethod.Post, new { @class = "well", @style = "margin-top: 40px;", @id = "modificar-enfermedad-paciente" }))
    {
        int cont = 0;
        <fieldset>
            <legend>Enfermedades</legend>
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.Hidden("ID",Model.ID)
                                @Html.DropDownListFor(m => m.tipo, Model.tipoEnfermedad, null, new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.enfermedad, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.enfermedad, Model.listaEnfermedad, "Seleccion", new { @class = "form-control select2" })
                                <a id="enfermedad-auxiliar" style="cursor:pointer;"><i class="glyphicon glyphicon-edit"></i></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Modificar" class="btn btn-default" />
                                <a class="btn btn-success" id="cargar-enfermedad"><i class="glyphicon glyphicon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 table-responsive">
                        <table class="table" id="enfermedadPaciente">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (odonto.Models.PACIENTE_ENFERMEDAD pe in Model.Enfermedades)
                                {
                                    <tr class="content" id="tr-@cont">
                                        <td>@pe.ENFERMEDAD.NOMBRE
                                            <input type="hidden" id="Enfermedades[@cont].ID_ENFERMEDAD" name="Enfermedades[@cont].ID_ENFERMEDAD" class="idEnfermedad" value="@pe.ENFERMEDAD.ID" />
                                            <input type="hidden" id="Enfermedades[@cont].ID_PACIENTE" name="Enfermedades[@cont].ID_PACIENTE" class="idPaciente" value="@pe.ID_PACIENTE" />
                                            <input type="hidden" id="Enfermedades[@cont].ID" name="Enfermedades[@cont].ID" class="id" value="@pe.ID"/>
                                        </td>
                                        <td>@(pe.ENFERMEDAD.TIPO == "A"?"Alergia":"Enfermedad")</td>
                                        <td>
                                            <a class="remove" style="cursor: pointer;" data-tr="tr-@cont"><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                    cont = cont + 1;
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </fieldset>
    }

}
