@model odonto.Models.AseguradoraViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Crear Aseguradora</h2>

<div id="mensaje"></div>
@using (Html.BeginForm("Create", "ASEGURADORA", null, FormMethod.Post, new { @class = "well", @style = "margin-top: 40px;", @id = "crear-aseguradora" }))
{
    <fieldset>
        <legend>Datos Basicos</legend>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-5">

                    <div class="form-group">
                        @Html.LabelFor(model => model.NOMBRE, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            <div class="col-md-1" style="padding-left:0px;">
                <a class="btn btn-success" id="nueva-aseguradora" style="margin-top:49px;">Agregar  <i class="glyphicon glyphicon-arrow-right"></i></a>
            </div>
            <div class="col-md-6 table-responsive">
                <table class="table" id="tabla-nueva-aseguradora">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</div>
